$base-color: #ffffff !default;
$base-bg-color: #fafafc !default;
$base-font: "Playwrite CL", cursive !default;

$chat-bg-color: #1D1F2B !default;
$chat-sidemenu-bg-color: #252837 !default;
$chat-navmenu-bg-color: #303346 !default;

code {
    // base-color: $base-color;
    // base-bg-color: $base-bg-color;
    // base-font: $base-font;
}